* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorImp: #f1cf91;
    --backImp: #3b1d17;
    --back: #e6dad8;
    --color: rgb(41, 41, 41);
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--back);
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
#navbar{
    height: 20%;
    width: 100%;
    background-color: var(--backImp);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}
#nav {
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#navbar  img{
    width: 50px;
    margin-top: 3px;
}
#nav a{
    text-decoration: none;
    color: var(--colorImp);
    padding: 10px;
    padding-bottom: 2px;
    margin: 5px;
}
#nav a img{
    width: 25px;
}
#nav a:hover{
    border-bottom: 2px double var(--colorImp);
}

/*Diseño para el main*/
#main{
    width: 80%;
    min-height: 75vh;
    display: grid;
    grid-template-columns:1fr 2fr;
    color: var(--color);
    margin: 40px 0;
    gap: 1em;
}
#categoria{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    
}
#categoria a {
    text-decoration: none;
    background-color: var(--backImp);
    padding: 20px;
    color: var(--colorImp);
    border: 3px solid var(--backImp);
}
#categoria a:hover{
    background-color: var(--colorImp);
    color: var(--backImp);
}
#productos{
    grid-column: 2/4;
}
#dulce {
    border-bottom: 2px double var(--backImp);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    gap: 1em;
    margin-bottom: 40px;
}
#torta {
    border-bottom: 2px double var(--backImp);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    gap: 1em;
}
.target{
    background-color: var(--colorImp);
    border-radius: 10px;
    padding: 10px;
}
.target img {
    width: 120px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid var(--backImp);
}
.target button{
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.target button:hover{
    background-color: var(--backImp);
    color: var(--colorImp);
}
@media (max-width: 700px) {
    #main{
        display: flex;
        flex-flow: column wrap;
    }
}






/*Diseños del footer*/
#footer{
    width: 100%;
    height: 10%;
    background-color: var(--backImp);
    color: var(--colorImp);
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
#footerImg{
    text-align: center;
}
#footerImg img{
    width: 50%;
    padding: 20px;
}
#footerDescription{
    width: 70%;
    text-align: justify;
}